{
	"*.{js,ts,svelte,json,md}": [
		"prettier --ignore-path .gitignore --write --cache --plugin-search-dir=. !./pnpm-lock.yaml !./CHANGELOG.md",
		"eslint --cache --ignore-path .gitignore"
	],
	"*.{cjs,yml,yaml,lintstagedrc}": "prettier --ignore-path .gitignore --write --cache --plugin-search-dir=. !./pnpm-lock.yaml !./CHANGELOG.md"
}
