{
	"*.{js,ts,svelte,css,scss,postcss,json}": [
		"prettier --ignore-path .gitignore --write --cache --plugin-search-dir=.",
		"eslint --cache --ignore-path .gitignore"
	],
	"*.{md,cjs,yml,lintstagedrc}": "prettier --ignore-path .gitignore --write --cache --plugin-search-dir=."
}
